@charset "UTF-8";
@font-face {
  font-family: "robotoregular";
  src: url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff2") format("woff2"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: normal;
  src: url("../../Fonts/Shrikhand/Shrikhand-Regular.woff") format("woff"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.eot") format("eot"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.svg") format("svg"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.ttf") format("ttf"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2");
}
/*color variables*/
/*font variables*/
/*media queries maps*/
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "robotoregular";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.font-logo {
  font-family: "Shrikhand";
}

/*layout of the buttons*/
button {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  color: white;
  border-radius: 25px;
  height: 7vh;
  max-height: 3rem;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 1rem;
}

/*layout of the hearts for the rating*/
.restaurants__comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}
.restaurants__comment-rating {
  padding-right: 1rem;
  align-self: center;
  font-size: 1.5rem;
}

.rating-nolike {
  color: #242323;
  transform: scale(1);
  z-index: 0;
  position: relative;
}
.rating-nolike:hover::after {
  opacity: 1;
}
.rating-nolike::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.07);
  opacity: 0;
  z-index: 2;
  transition-property: opacity transform;
  transition-duration: 2000ms;
}

/*.restaurants__comment-rating {
   /* padding-right: 1rem;
    align-self: center;
    font-size: 1.5rem;*/
/*}

.rating-nolike {
    position: relative;
    right: 1rem;
    top: 1rem;



/*}

/*.rating-nolike:hover {

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 900; 
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;

    }


/*}*/
header {
  display: flex;
  max-width: 100%;
  margin-top: 0.5rem;
  /*@include footer-padding;*/
}
header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
header img {
  object-fit: contain;
  width: 50%;
}
header a {
  color: black;
}

.header__logo {
  object-fit: contain;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 8vh;
}

footer {
  padding-left: 19px;
  padding-right: 19px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
footer .footer_parts {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 416px) {
  footer .footer_parts {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
footer a {
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 416px) {
  footer a {
    display: flex;
    justify-content: center;
    min-width: 48%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
@media screen and (min-width: 1400px) {
  footer a {
    min-width: 25%;
  }
}
footer i {
  width: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  footer i {
    width: 15%;
  }
}
footer h2 {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 416px) {
  footer h2 {
    display: flex;
    justify-content: center;
  }
}
footer span {
  font-size: 1rem;
}

@media screen and (min-width: 1400px) {
  body {
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 1400px) {
  #container {
    max-width: 1400px;
    margin: auto;
  }
}

/*index header layout*/
.index-header {
  flex-direction: column;
}
.index-header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.index-header img {
  object-fit: contain;
  width: 50%;
}
.index-header .header-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.index-header .header-home-place {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 8vh;
}
.index-header label {
  display: flex;
  justify-content: center;
}
.index-header #lieu {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  width: 45%;
}
@media screen and (min-width: 416px) {
  .index-header #lieu {
    width: 32%;
  }
}
.index-header ::placeholder {
  color: black;
  text-align: center;
}

.header-home-title {
  background-color: #f6f6f6;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}
.header-home-title h2 {
  margin-top: 0;
  font-weight: bold;
  margin-left: 4rem;
  margin-right: 4rem;
}
.header-home-title .p__comment {
  font-size: 1.2rem;
}

/*index main layout*/
/*.index-main {
    @include footer-padding;

}


/*fonctionnement section layout*/
#main-fonctionnement {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 19px;
  padding-right: 19px;
}

.section__fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}
@media screen and (min-width: 416px) {
  .section__fonctionnement {
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-around;
  }
}

.fonctionnement-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  height: 30%;
  border-radius: 20px;
  box-shadow: 0 5px 5px #eaeaea;
  position: relative;
  padding-left: 2rem;
}
@media screen and (min-width: 416px) {
  .fonctionnement-detail {
    width: 30%;
    padding-right: 1rem;
  }
}
.fonctionnement-detail i {
  width: 2rem;
  color: grey;
}
.fonctionnement-detail .logo-mobile {
  font-size: 1.3rem;
}
.fonctionnement-detail span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  background-color: #9356DC;
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  left: -1rem;
}
.fonctionnement-detail p {
  font-weight: bold;
  font-size: 1.1rem;
}

.fonctionnement-detail:hover {
  background-color: #ece1f9;
}
.fonctionnement-detail:hover i {
  color: #9356DC;
}

/*restaurants section layout*/
#main__restaurants {
  padding-top: 3rem;
  background-color: #f6f6f6;
  padding-right: 0;
  padding-bottom: 3rem;
}
#main__restaurants > * {
  padding-left: 19px;
  padding-right: 19px;
}

.section-title {
  margin-top: 0;
}

.section__restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 416px) {
  .section__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.restaurants__card {
  background-color: white;
  height: 40vh;
  margin-bottom: 1rem;
  border-radius: 17px;
  cursor: pointer;
}
@media screen and (min-width: 416px) {
  .restaurants__card {
    max-width: 48%;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants__card {
    width: 23%;
    height: 30vh;
  }
}
.restaurants__card h3,
.restaurants__card p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  color: black;
  padding-left: 1rem;
}
.restaurants__card .restaurants__card-photo {
  display: flex;
  height: 70%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .restaurants__card .restaurants__card-photo {
    max-height: 20vh;
  }
}
.restaurants__card img {
  object-fit: cover;
  width: 100%;
}
.restaurants__card .restaurants-img-landscape {
  align-self: flex-end;
}
.restaurants__card .restaurants-img-portrait {
  align-self: center;
  padding-bottom: 3rem;
}
.restaurants__card .nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25%;
  height: 1.6rem;
  color: #278870;
  font-size: 0.9rem;
  font-weight: bold;
}
.restaurants__card .restaurants__comment-address {
  width: 80%;
}

@media screen and (min-width: 1400px) {
  #container {
    width: 1400px;
  }
}

.restaurant-header {
  flex-direction: row;
  margin-right: 2rem;
}
.restaurant-header a {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

/*main layout*/
.main_header {
  position: relative;
  z-index: 0;
  height: 40vh;
}
@media screen and (min-width: 1400px) {
  .main_header {
    height: 50vh;
  }
}

.restaurant-main {
  border-radius: 30px 30px 0 0;
}

.restaurant_photo {
  height: 40vh;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
}
@media screen and (min-width: 1400px) {
  .restaurant_photo {
    height: 50vh;
  }
}
.restaurant_photo img {
  width: 100%;
  object-fit: cover;
}

.restaurant_comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding-left: 19px;
  padding-right: 19px;
}
@media screen and (min-width: 416px) {
  .restaurant_comment {
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1.5rem;
  }
}
.restaurant_comment h1,
.restaurant_comment i {
  margin-top: 0;
  padding-top: 2rem;
  align-self: baseline;
}

.main__menu {
  padding-left: 19px;
  padding-right: 19px;
  background-color: #f6f6f6;
  text-overflow: ellipsis;
}
.main__menu h2 {
  margin-top: 0;
  padding-top: 3rem;
}
.main__menu .article {
  display: flex;
  flex-direction: column;
}
.main__menu .menu__horizontal-line {
  width: 10%;
  border-bottom: 3px #99E2D0 solid;
}
.main__menu .menu__one-dish {
  display: flex;
  flex-direction: row;
  height: 10vh;
  margin-top: 1rem;
  background-color: white;
  border-radius: 15px;
  padding-left: 0.5rem;
  position: relative;
  z-index: 1;
}
.main__menu .menu_dish {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}
.main__menu .menu_dish-price {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
}
.main__menu .menu_price {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  flex-direction: row;
  width: 20%;
}
.main__menu .one-dish__selected {
  visibility: hidden;
  position: absolute;
  right: 0;
}
.main__menu h3,
.main__menu p {
  margin: 0;
}

.main__order {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}
.main__order .page-restaurant-main__btn-order {
  width: 12rem;
}

/*# sourceMappingURL=style.css.map */
