@charset "UTF-8";
@font-face {
  font-family: "robotoregular";
  src: url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff2") format("woff2"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../../Fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: normal;
  src: url("../../Fonts/Shrikhand/Shrikhand-Regular.woff") format("woff"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.eot") format("eot"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.svg") format("svg"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.ttf") format("ttf"), url("../../Fonts/Shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2");
}
/*color variables*/
/*font variables*/
/*media queries maps*/
/*keyframes variables*/
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "robotoregular";
}

#container {
  /*@include desktop{
  /*max-width: 1400px;*/
  /*margin: 10vh;
  }*/
}
@media screen and (min-width: 416px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.font-logo {
  font-family: "Shrikhand";
}

/*main {
    @include desktop {
        max-width: 1400px;
        margin: auto;
    }
}*/
@keyframes rotation {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes translation {
  from {
    margin-right: 0rem;
    opacity: 0;
  }
  to {
    margin-right: 4rem;
    opacity: 2;
  }
}
.menu_dish {
  width: 1%;
  z-index: 1;
}

/*layout of the buttons*/
button {
  background: linear-gradient(0.47turn, #FF79DA, 40%, #9356DC);
  border: none;
  color: white;
  border-radius: 25px;
  height: 7vh;
  max-height: 3rem;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 520;
  box-shadow: 0 5px 20px #9b9a9a;
  opacity: 1;
}
button:hover {
  opacity: 0.8;
  transition: opacity 400ms;
}

/*layout of the hearts for the rating*/
.restaurants__comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}
.restaurants__comment-rating {
  padding-right: 1rem;
  align-self: center;
  font-size: 1.5rem;
}

.rating-nolike {
  color: #242323;
  transform: scale(1);
  z-index: 0;
  position: relative;
}
.rating-nolike:hover::after {
  opacity: 1;
}
.rating-nolike::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.07);
  opacity: 0;
  z-index: 2;
  transition-property: opacity transform;
  transition-duration: 2000ms;
}

/*.restaurants__comment-rating {
   /* padding-right: 1rem;
    align-self: center;
    font-size: 1.5rem;*/
/*}

.rating-nolike {
    position: relative;
    right: 1rem;
    top: 1rem;



/*}

/*.rating-nolike:hover {

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 900; 
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;

    }


/*}*/
/*layout of the button commanding the selection of the meal chosen by the customer*/
.entree, .plat, .dessert {
  display: none;
  position: relative;
}
.entree + .menu_dish, .plat + .menu_dish, .dessert + .menu_dish {
  width: 100%;
  height: 10vh;
  border-radius: 15px;
  padding-left: 0.5rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.entree + p, .plat + p, .dessert + p {
  width: 100%;
  border-radius: 15px;
  padding-left: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background-color: tomato;
}

.menu_dish {
  max-width: 100%;
}

.entree:checked + label, .plat:checked + label, .dessert:checked + label {
  width: 75%;
}
.entree:checked + label + .price > i, .plat:checked + label + .price > i, .dessert:checked + label + .price > i {
  animation: rotation 800ms;
  animation-fill-mode: both;
}
.entree:checked + label + .price > .menu_price, .plat:checked + label + .price > .menu_price, .dessert:checked + label + .price > .menu_price {
  animation: translation 800ms;
  animation-fill-mode: both;
}
.entree:checked + label + .price > .one-dish__selected, .plat:checked + label + .price > .one-dish__selected, .dessert:checked + label + .price > .one-dish__selected {
  opacity: 1;
}

header {
  display: flex;
  max-width: 100%;
  margin-top: 0.5rem;
  /*@include footer-padding;*/
}
@media screen and (min-width: 416px) {
  header {
    min-width: 100%;
  }
}
header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
header img {
  object-fit: contain;
  width: 50%;
}
header a {
  color: black;
}

.header__logo {
  object-fit: contain;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 8vh;
}

footer {
  padding-left: 19px;
  padding-right: 19px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 416px) {
  footer {
    min-width: 100%;
  }
}
footer .footer_parts {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 416px) {
  footer .footer_parts {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
footer a {
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 416px) {
  footer a {
    display: flex;
    justify-content: center;
    min-width: 48%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
@media screen and (min-width: 1400px) {
  footer a {
    min-width: 25%;
  }
}
footer i {
  width: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  footer i {
    width: 15%;
  }
}
footer h2 {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 416px) {
  footer h2 {
    display: flex;
    justify-content: center;
  }
}
footer span {
  font-size: 1rem;
}

/*index header layout*/
.index-header {
  flex-direction: column;
  /*label*/
}
.index-header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.index-header img {
  object-fit: contain;
  width: 50%;
}
.index-header .header-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.index-header .header-home-place {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 8vh;
}
.index-header .label__i-location {
  display: flex;
  justify-content: center;
}
.index-header #lieu {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 45%;
}
@media screen and (min-width: 416px) {
  .index-header #lieu {
    width: 40%;
  }
}
@media screen and (min-width: 1400px) {
  .index-header #lieu {
    width: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .index-header #lieu {
    font-size: 1.5rem;
  }
}
.index-header ::placeholder {
  color: black;
  text-align: center;
}

.header-home-title {
  background-color: #f6f6f6;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}
.header-home-title h2 {
  margin-top: 0;
  font-weight: bold;
  margin-left: 4rem;
  margin-right: 4rem;
}
.header-home-title .p__comment {
  font-size: 1.2rem;
}

/*index main layout*/
/*.index-main {
    @include footer-padding;

}*/
@media screen and (min-width: 416px) {
  main {
    width: 90vw;
  }
}

/*fonctionnement section layout*/
#main-fonctionnement {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 19px;
  padding-right: 19px;
}

.section__fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}
@media screen and (min-width: 416px) {
  .section__fonctionnement {
    /*flex-direction: row;*/
    /*height: auto;
    width: 100%;*/
    justify-content: space-between;
  }
}
@media screen and (min-width: 1400px) {
  .section__fonctionnement {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
}

.fonctionnement-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  height: 30%;
  border-radius: 20px;
  box-shadow: 0 5px 5px #eaeaea;
  position: relative;
  padding-left: 2rem;
}
@media screen and (min-width: 416px) {
  .fonctionnement-detail {
    /*width: 30%;*/
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .fonctionnement-detail {
    width: 30%;
  }
}
.fonctionnement-detail i {
  width: 2rem;
  color: grey;
}
.fonctionnement-detail .logo-mobile {
  font-size: 1.3rem;
}
.fonctionnement-detail span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  background-color: #9356DC;
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  left: -1rem;
}
.fonctionnement-detail p {
  font-weight: bold;
  font-size: 1.1rem;
}

.fonctionnement-detail:hover {
  background-color: #ece1f9;
}
.fonctionnement-detail:hover i {
  color: #9356DC;
}

/*restaurants section layout*/
#main__restaurants {
  padding-top: 3rem;
  background-color: #f6f6f6;
  padding-right: 0;
  padding-bottom: 3rem;
}
@media screen and (min-width: 416px) {
  #main__restaurants {
    border-radius: 15px;
    margin-bottom: 2rem;
  }
}
#main__restaurants > * {
  padding-left: 19px;
  padding-right: 19px;
}

.section-title {
  margin-top: 0;
}

.section__restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1400px) {
  .section__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.restaurants__card {
  background-color: white;
  height: 40vh;
  margin-bottom: 1rem;
  border-radius: 17px;
  cursor: pointer;
  /*@include tablet {
      max-width: 48%;
  }*/
  /*.restaurants-img-landscape {
      align-self: flex-end;
  }*/
}
@media screen and (min-width: 1400px) {
  .restaurants__card {
    width: 23%;
    height: 30vh;
  }
}
.restaurants__card h3,
.restaurants__card p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  color: black;
  padding-left: 1rem;
}
.restaurants__card .restaurants__card-photo {
  display: flex;
  height: 70%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .restaurants__card .restaurants__card-photo {
    max-height: 20vh;
  }
}
.restaurants__card img {
  object-fit: cover;
  width: 100%;
}
.restaurants__card .restaurants-img-portrait {
  align-self: center;
  padding-bottom: 3rem;
}
.restaurants__card .nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25%;
  height: 1.6rem;
  color: #278870;
  font-size: 0.9rem;
  font-weight: bold;
}
.restaurants__card .restaurants__comment-address {
  width: 80%;
}

.restaurant-header {
  flex-direction: row;
  margin-right: 2rem;
}
.restaurant-header a {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

/*main layout*/
.main_header {
  position: relative;
  z-index: 0;
  height: 80vh;
  overflow: hidden;
}
@media screen and (min-width: 416px) {
  .main_header {
    height: 100vh;
  }
}
@media screen and (min-width: 1400px) {
  .main_header {
    height: 101vh;
  }
}

.restaurant-main {
  border-radius: 30px 30px 0 0;
}

.restaurant_photo {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
}
@media screen and (min-width: 416px) {
  .restaurant_photo {
    height: 70vh;
  }
}
@media screen and (min-width: 1400px) {
  .restaurant_photo {
    height: 100vh;
  }
}
.restaurant_photo img {
  width: 100%;
  /*height: 100%;*/
  object-fit: cover;
}
@media screen and (min-width: 416px) {
  .restaurant_photo img {
    height: 70vh;
  }
}

.restaurant_comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding-left: 19px;
  padding-right: 19px;
}
@media screen and (min-width: 416px) {
  .restaurant_comment {
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1.5rem;
  }
}
.restaurant_comment h1,
.restaurant_comment i {
  margin-top: 0;
  padding-top: 2rem;
  align-self: baseline;
}

.main__menu {
  padding-left: 19px;
  padding-right: 19px;
  background-color: #f6f6f6;
  text-overflow: ellipsis;
  /*.price {
      display: flex;
      align-items: center;
  }*/
  /*.price {
      overflow: hidden;
      white-space: nowrap;
  }*/
}
.main__menu h2 {
  margin-top: 0;
  padding-top: 3rem;
}
.main__menu .article {
  display: flex;
  flex-direction: column;
}
.main__menu .menu__horizontal-line {
  width: 10%;
  border-bottom: 3px #99E2D0 solid;
}
.main__menu .menu__one-dish {
  display: flex;
  flex-direction: row;
  height: 10vh;
  margin-top: 1rem;
  background-color: white;
  border-radius: 15px;
  padding-left: 0.5rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.main__menu .menu_dish {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*width: 75%;*/
  justify-content: space-evenly;
  /*width: 75%*/
  z-index: 2;
  /*background-color: yellow;*/
}
.main__menu .menu_dish h3, .main__menu .menu_dish p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__menu .menu_dish:hover + .price i {
  animation: rotation 800ms;
  /*animation-iteration-count: 1;*/
  animation-fill-mode: both;
}
.main__menu .menu_dish:hover + .price > .menu_price {
  /*transform: translate(-100%);
  /*opacity: 1;*/
  animation: translation 800ms;
  animation-fill-mode: both;
  z-index: 3;
}
.main__menu .menu_dish:hover + .price > .one-dish__selected {
  opacity: 1;
  z-index: 3;
}
.main__menu .menu_dish-price {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  width: 4rem;
  margin: 0;
}
.main__menu .menu_price {
  display: flex;
  align-items: flex-start;
  padding-bottom: 0.5rem;
  background-color: white;
  height: 50%;
  margin-bottom: 0.7rem;
  background-color: transparent;
}
.main__menu .one-dish__selected {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  width: 4rem;
  border-radius: 0 15px 15px 0;
  z-index: 1;
  opacity: 0;
}
.main__menu .one-dish__selected i {
  font-size: 2rem;
}
.main__menu h3,
.main__menu p {
  margin: 0;
}

.main__order {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}
.main__order .page-restaurant-main__btn-order {
  width: 12rem;
}

/*# sourceMappingURL=style.css.map */
