/*layout of the buttons*/
button {
    background: linear-gradient(/*to top, $color-primary, $color-secondary/*180deg, $color-secondary, $color-primary 60%*/.47turn, $color-secondary, 40%, $color-primary);
    border: none;
    color: white;
    border-radius: 25px;
    height: 7vh;
    max-height: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 520;
    box-shadow: 0 5px 20px rgb(155, 154, 154);
    opacity: 1;

    &:hover {
        opacity: 0.8;
        transition: opacity 400ms;
    }
}


/*layout of the hearts for the rating*/
.restaurants__comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25%;


    &-rating {
        padding-right: 1rem;
        align-self: center;
        font-size: 1.5rem;
    }
}

.rating-nolike {
    color: rgb(36, 35, 35);
    transform: scale(1);
    z-index: 0;
    position: relative;
    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 900; 
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
       background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
       background-clip: text;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        transform: scale(1.07);
        opacity: 0;
        z-index: 2;
        transition-property: opacity transform;
        transition-duration: 2000ms;
    }
}

/*.restaurants__comment-rating {
   /* padding-right: 1rem;
    align-self: center;
    font-size: 1.5rem;*/

/*}

.rating-nolike {
    position: relative;
    right: 1rem;
    top: 1rem;
   
    

/*}

/*.rating-nolike:hover {
    
    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 900; 
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        
    }
    

/*}*/

/*layout of the button commanding the selection of the meal chosen by the customer*/
.entree, .plat, .dessert {
    display: none;

    & + label {
    width: 100%;
    height: 10vh;
    border-radius: 15px;
    padding-left: 0.5rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
    }
}

.menu_dish {
    max-width: 100%;
}

/*input[type="radio"].entree + label {
    width: 100%;
    height: 10vh;
    border-radius: 15px;
    padding-left: 0.5rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background-color: red;

}*/

/*label + .one-dish__selected {
    opacity: 0;
}*/

.entree:checked + label, .plat:checked + label, .dessert:checked + label{
    width: 75%;

    & + .price > i {
        animation: rotation $menu-selection_speed;
        
        animation-fill-mode: both;
    }

    & + .price > .menu_price {
        animation: translation $menu-selection_speed;
        animation-fill-mode: both;
    }

    & + .price > .one-dish__selected {
        opacity: 1;
    }

}





