/*layout of the buttons*/
button {
    background: linear-gradient(.47turn, $color-secondary, 40%, $color-primary);
    border: none;
    color: white;
    border-radius: 25px;
    height: 7vh;
    max-height: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 520;
    @include btn-shadow;
    opacity: 1;

    &:hover {
        opacity: 0.8;
        transition: opacity 400ms;

        @if (opacity==1) {
            @include btn-shadow;
        }

        @else {
            @include btn-shadow(darken($shadow-color, 100%));
        }
    }

    @include under279px {
        width: 80%;
    }
}

/*layout of the hearts for the rating*/
.restaurants__comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25%;

    &-rating {
        padding-right: 1rem;
        align-self: center;
        font-size: 1.5rem;

        @include under279px {
            font-size: 0.8rem;
            padding-right: 0.4rem;
        }
    }
}

.rating-nolike {
    color: rgb(36, 35, 35);
    transform: scale(1);
    z-index: 0;
    position: relative;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 900;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(1.07);
        opacity: 0;
        z-index: 2;
        transition-property: opacity, transform;
        transition-duration: 2000ms;
    }
}