/*index header layout*/
.index-header {
    flex-direction: column;

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    img {
        object-fit: contain;
        width: 50%;
    }

    .header-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-home-place {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
        height: 8vh;
    }

    label {
        display: flex;
        justify-content: center;
    }

    #lieu {
        border: none;
        font-size: 1rem;
        font-weight: bold;
        width: 45%;

        @include tablet  {
            width: 40%;
        }

        @include desktop {
            width: 20%;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }

    ::placeholder {
        color: black;
        text-align: center;
    }

}

.header-home-title {
    background-color: $resto-bg-color;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;

    h2 {
        margin-top: 0;
        font-weight: bold;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .p__comment {
        font-size: 1.2rem;
    }

}

/*index main layout*/

/*.index-main {
    @include footer-padding;

}*/

main {
    @include tablet {
        width: 90vw;
    }

    
}


/*fonctionnement section layout*/
#main-fonctionnement {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include footer-padding;
}

.section__fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;

    @include tablet {
        /*flex-direction: row;*/
        /*height: auto;
        width: 100%;*/
        justify-content: space-between;
    }

    @include desktop  {
        flex-direction: row;
        height: auto; 
        width: 100%;
    }
}

.fonctionnement-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $resto-bg-color;
    height: 30%;
    border-radius: 20px;
    box-shadow: 0 5px 5px #eaeaea;
    position: relative;
    padding-left: 2rem;

    @include tablet {
        /*width: 30%;*/
        padding-right: 1rem;
    }

    @include desktop {
        width: 30%;
    }

    i {
        width: 2rem;
        color: grey;
    }

    .logo-mobile {
        font-size: 1.3rem;
    }

    span {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-size: 0.9rem;
        background-color: $color-primary;
        border-radius: 50%;
        height: 1.7rem;
        width: 1.7rem;
        position: absolute;
        left: -1rem;

    }

    p {
        font-weight: bold;
        font-size: 1.1rem;
    }

}

.fonctionnement-detail:hover {
    background-color: lighten($color-primary, 33%);

    i {
        color: $color-primary;
    }
}

/*restaurants section layout*/
#main__restaurants {
    padding-top: 3rem;
    background-color: $resto-bg-color;
    padding-right: 0;
    padding-bottom: 3rem;
      

    @include tablet {
        border-radius: 15px;
        margin-bottom: 2rem;
    }

    &>* {
        @include footer-padding;
    }

}

.section-title {
    margin-top: 0;
}

.section__restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

.restaurants__card {
    background-color: white;
    height: 40vh;
    margin-bottom: 1rem;
    border-radius: 17px;
    cursor: pointer;

    /*@include tablet {
        max-width: 48%;
    }*/

    @include desktop {
        width: 23%;
        height: 30vh;
    }

    h3,
    p {
        margin-bottom: 0;
        margin-top: 0.5rem;
        color: black;
        padding-left: 1rem;
        
    }

    .restaurants__card-photo {
        display: flex;
        height: 70%;
        max-width: 100%;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
        position: relative;

        @include desktop {
        max-height: 20vh;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
    }

    /*.restaurants-img-landscape {
        align-self: flex-end;
    }*/

    .restaurants-img-portrait {
        align-self: center;
        padding-bottom: 3rem;
    }

    .nouveau {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 25%;
        height: 1.6rem;
        color: darken($color-tertiary, 40%);
        font-size: 0.9rem;
        font-weight: bold;

    }

    .restaurants__comment-address {
        width: 80%;
    }
}
    

