.restaurant-header {
    flex-direction: row;
    margin-right: 2rem;
    
    a {
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }
}

/*main layout*/
.main_header {
    position: relative;
    z-index: 0;
    height: 60vh;

    @include tablet{
        height: 101vh;
    }
    
    @include desktop{
        height: 101vh;
    }
}

.restaurant-main {
    
    border-radius: 30px 30px 0 0;
}

.restaurant_photo {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;

    @include desktop {
        height: 100vh;
    }

        
    img {
        width: 100%;
        object-fit: cover;  
    }
}

.restaurant_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index:1;
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: $resto-bg-color;

    @include footer-padding;

    @include tablet {
        justify-content: space-around;
        padding-left: 20vw;
        padding-right: 20vw;
        font-size: 1.5rem;
    }

    h1,
    i {
        margin-top: 0;
        padding-top: 2rem;
        align-self: baseline;
    }
}

.main__menu/*, .menu__plats, .menu__desserts*/ {
    @include footer-padding;
    background-color: $resto-bg-color;
    text-overflow: ellipsis;

    h2 {
        margin-top: 0;
        padding-top: 3rem;
    }

    .article {
        display: flex;
        flex-direction: column;
    }

    .menu__horizontal-line {
        width: 10%;      
        border-bottom: 3px $color-tertiary solid;
    }

    .menu__one-dish {
        display: flex;
        flex-direction: row;
        height: 10vh;
        margin-top: 1rem;
        background-color: white;
        border-radius: 15px;
        padding-left: 0.5rem;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    .menu_dish {
        display: flex;
        flex-direction: column;
        height: 100%;
        /*width: 75%;*/
        justify-content: space-evenly;

        h3, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover + .menu_price {
            transform: translate(-100%);
            opacity: 1;
        }


        &:hover + .one-dish__selected {
            /*opacity: 0;*/
            

            & i {
                transform: rotate(0deg);
            }
        }

    }



    .menu_dish-price {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-start;
        z-index: 2;
        width: 4rem;
    }

    .menu_price {
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.5rem;
        background-color: white;
        height: 100%;
        border-radius: 0 15px 15px 0;
        flex-direction: row;
        width: 4rem;
        opacity: 1;
        transform: translate(0);
        transition: all 100ms;
    }

    .one-dish__selected {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        color: white;
        height: 100%;
        width: 4rem;
        border-radius: 0 15px 15px 0;
        z-index:1;
        
        & i {
            transform: rotate(-360deg);
            transition: all 500ms;
        }
    }    

    h3,
    p {
        margin: 0;
    }
}

.main__order {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $resto-bg-color;

    .page-restaurant-main__btn-order {
        width: 12rem;

    }
}