.container__resto {
    background-color: $resto-bg-color;
}

.restaurant-header {
    flex-direction: row;
    margin-right: 2rem;

    @include tablet {
        /*background-color: $resto-bg-color;*/
        margin: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    a {
        margin-left: 2rem;
        display: flex;
        align-items: center;

        @include under279px {
            margin-left: 1rem;
        }

        @include tablet {
            margin-left: 4rem;
        }
    }
}

/*main layout*/
main {
    
    @include tablet {
    max-width: 90vw;
}
}

.main_header {
    position: relative;
    z-index: 0;
    height: 320px;
    overflow: hidden;

    @include under279px {
        height: 240px;
    }

    @include tablet {
        height: 50vh;
    }

    @include desktop {
        height: 50vh;
    }
}


.restaurant_photo {
    overflow: hidden;
    height: 320px;
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;

    @include under279px {
        height: 255px;
    }

    @include tablet {
        border-radius: $radius;
    }

    .photo--horizontal {
        min-width: 100%;
        height: 290px;
        object-fit: cover;
        align-self: flex-start;

        @include under279px {
            height: 250px;
            align-self: center;
            padding-bottom: 3rem;
        }

        @include bigmobile {
            height: auto;
            position: relative;
            top: -30px;
        }

        @include tablet {
            align-self: center;
        }
    }

    .photo--vertical {
        /*min-width: 100%;*/
        object-fit: cover;
        position: relative;
        top: 60px;
        align-self: flex-end;

        @include under279px {
            top: 0;
            align-self: center;
        }

        @include bigmobile {
            height: auto;
            position: relative;
            align-self: center;
            top: -20px;
        }

        @include tablet {
            position: relative;
        }
    }
}

.restaurant_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    border-radius: $radius;
    background-color: $resto-bg-color;

    @include tablet {
        background-color: $tablet-main-bg;
    }

    @include footer-padding;

    h1,
    i {
        margin-top: 0;
        padding-top: 2rem;
        align-self: baseline;
        font-size: 1.8rem;
        font-weight: 350;

        @include under279px {
            font-size: 1.15rem;
            padding-top: 1.8rem;
            padding-right: 1.6rem;
        }
    }
}

.font-logo {
    padding-left: 10px;
}

.restaurant-main {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.main__menu {

/*, .menu__plats, .menu__desserts*/

    @include footer-padding;
    background-color: $resto-bg-color;
    text-overflow: ellipsis;

    @include tablet {
        background-color: $tablet-main-bg;
    }

    h2 {
        margin-top: 0;
        padding-top: 3rem;
        @include resto-titles-padding;

        @include under279px {
            padding-top: 1rem;
            margin-bottom: 0.5em;
            font-size: 0.8rem;
        }
    }

    .menu__dishes {

        @include desktop {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

    }

    .article {
        display: flex;
        flex-direction: column;
    }

    .menu__horizontal-line {
        width: 10%;
        border-bottom: 3px $color-tertiary solid;
        @include resto-titles-padding;

        @include under279px {
            width: 15%;
        }
    }

}

.menu__entrees {
    @for $i from 1 through 1000 {
        .menu__one-dish:nth-of-type(#{$i}) {
            animation: resto-page-display 1000ms both;
            animation-delay: $i * 400ms;
        }
    }
}

.menu__plats {
    animation: menu-display both;
    animation-delay: 1600ms;

    @for $i from 1 through 1000 {
        .menu__one-dish:nth-of-type(#{$i}) {
            animation: resto-page-display 1000ms both;
            animation-delay: 1200ms + ($i * 400ms);
        }
    }
}

.menu__desserts {
    animation: menu-display both;
    animation-delay: 2600ms;

    @for $i from 1 through 1000 {
        .menu__one-dish:nth-of-type(#{$i}) {
            animation: resto-page-display 1000ms both;
            animation-delay: 2400ms + ($i * 400ms);
        }
    }
}


.main__order {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $resto-bg-color;

    @include tablet {
        background-color: $tablet-main-bg;
    }

    .page-restaurant-main__btn-order {
        width: 12rem;

        @include under279px {
            width: 10rem;
        }
    }
}