@mixin footer-padding  {
    padding-left : 22px;
    padding-right: 22px;
}

@mixin resto-titles-padding {
    margin-left: 8px;
}

@mixin paragraphs-margin {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@mixin block-margin{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@mixin bigmobile {
    @media screen and (min-width: map-get($breakpoints, bigmobile)){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin btn-shadow($color: $shadow-color){
    box-shadow: 0 5px 20px $color;
}

